Repository Team-WSS/WSS-Android, pull requests merged in 2025-07, with the labels that each got.

#715 fix: 피드 <-> 피드 상세 간 좋아요 싱크 맞지 않는 이슈
  app/src/main/java/com/into/websoso/ui/feedDetail/FeedDetailActivity.kt
  app/src/main/java/com/into/websoso/ui/feedDetail/FeedDetailViewModel.kt
  app/src/main/java/com/into/websoso/ui/main/feed/FeedFragment.kt
  app/src/main/java/com/into/websoso/ui/main/feed/FeedItemClickListener.kt
  app/src/main/java/com/into/websoso/ui/main/feed/FeedViewModel.kt
  app/src/main/java/com/into/websoso/ui/novelFeed/NovelFeedFragment.kt
  app/src/main/res/layout/item_feed.xml
Labels: 🏹 궁사 명지, 🔨 [FIX]

#720 feat: 서재 UI/UX 개편(2) - 서재뷰 구현
  core/common/src/main/java/com/into/websoso/core/common/extensions/DateFormatter.kt
  core/resource/src/main/res/drawable/ic_library_character.xml
  core/resource/src/main/res/drawable/ic_library_drop_down_fill.xml
  core/resource/src/main/res/drawable/ic_library_grid.xml
  core/resource/src/main/res/drawable/ic_library_half_star.xml
  core/resource/src/main/res/drawable/ic_library_interesting.xml
  core/resource/src/main/res/drawable/ic_library_list.xml
  core/resource/src/main/res/drawable/ic_library_material.xml
  core/resource/src/main/res/drawable/ic_library_null_star.xml
  core/resource/src/main/res/drawable/ic_library_quote_finished.xml
  core/resource/src/main/res/drawable/ic_library_quote_started.xml
  core/resource/src/main/res/drawable/ic_library_relationship.xml
  core/resource/src/main/res/drawable/ic_library_sort.xml
  core/resource/src/main/res/drawable/ic_library_vibe.xml
  core/resource/src/main/res/drawable/ic_library_world_view.xml
  data/library/src/main/java/com/into/websoso/data/library/LibraryRepository.kt
  data/library/src/main/java/com/into/websoso/data/library/datasource/LibraryLocalDataSource.kt
  domain/library/src/main/java/com/into/websoso/domain/library/model/AttractivePoints.kt
  feature/library/build.gradle.kts
  feature/library/src/main/java/com/into/websoso/feature/library/LibraryScreen.kt
  feature/library/src/main/java/com/into/websoso/feature/library/LibraryViewModel.kt
  feature/library/src/main/java/com/into/websoso/feature/library/component/LibraryEmptyView.kt
  feature/library/src/main/java/com/into/websoso/feature/library/component/LibraryGridList.kt
  feature/library/src/main/java/com/into/websoso/feature/library/component/LibraryGridListItem.kt
  feature/library/src/main/java/com/into/websoso/feature/library/component/LibraryList.kt
  feature/library/src/main/java/com/into/websoso/feature/library/component/LibraryListItem.kt
  feature/library/src/main/java/com/into/websoso/feature/library/component/LibrayFilterTopBar.kt
  feature/library/src/main/java/com/into/websoso/feature/library/mapper/AttractivePointsMapper.kt
  feature/library/src/main/java/com/into/websoso/feature/library/mapper/ListItemMapper.kt
  feature/library/src/main/java/com/into/websoso/feature/library/mapper/ReadStatusMapper.kt
  feature/library/src/main/java/com/into/websoso/feature/library/model/AttractivePointUiModel.kt
  feature/library/src/main/java/com/into/websoso/feature/library/model/LibraryFilterType.kt
  feature/library/src/main/java/com/into/websoso/feature/library/model/LibraryFilterUiState.kt
  feature/library/src/main/java/com/into/websoso/feature/library/model/LibraryListItemModel.kt
  feature/library/src/main/java/com/into/websoso/feature/library/model/LibraryUiState.kt
  feature/library/src/main/java/com/into/websoso/feature/library/model/ReadStatusUiModel.kt
  feature/library/src/main/java/com/into/websoso/feature/library/model/SortTypeUiModel.kt
  feature/library/src/main/java/com/into/websoso/feature/library/util/FilterLabelFormatter.kt
  feature/library/src/main/res/values/string.xml
  gradle/libs.versions.toml
Labels: 🍯 [FEAT], 👛 황후 연진

#723 feat: 서재UI/UX 개편(4) - 서재 필터 바텀시트 구현
  app/src/main/java/com/into/websoso/core/common/util/navigator/WebsosoNavigator.kt
  app/src/main/java/com/into/websoso/ui/main/MainActivity.kt
  app/src/main/java/com/into/websoso/ui/main/library/LibraryFragment.kt
  app/src/main/java/com/into/websoso/ui/userStorage/UserStorageActivity.kt
  core/common/src/main/java/com/into/websoso/core/common/dispatchers/DispatchersModule.kt
  core/common/src/main/java/com/into/websoso/core/common/navigator/NavigatorProvider.kt
  core/datastore/build.gradle.kts
  core/datastore/src/main/java/com/into/websoso/core/datastore/datasource/library/DefaultMyLibraryFilterDataSource.kt
  core/datastore/src/main/java/com/into/websoso/core/datastore/datasource/library/mapper/LibraryFilterMapper.kt
  core/datastore/src/main/java/com/into/websoso/core/datastore/datasource/library/model/LibraryFilterPreferences.kt
  core/datastore/src/main/java/com/into/websoso/core/datastore/di/DataStoreModule.kt
  core/datastore/src/main/java/com/into/websoso/core/datastore/di/DataStoreQualifier.kt
  core/resource/src/main/res/drawable/ic_cancel_modal.xml
  core/resource/src/main/res/drawable/ic_library_finished.xml
  core/resource/src/main/res/drawable/ic_library_reading.xml
  core/resource/src/main/res/drawable/ic_library_reset.xml
  core/resource/src/main/res/drawable/ic_library_stopped.xml
  data/library/src/main/java/com/into/websoso/data/library/LibraryRepository.kt
  data/library/src/main/java/com/into/websoso/data/library/datasource/MyLibraryFilterLocalDataSource.kt
  data/library/src/main/java/com/into/websoso/data/library/model/LibraryFilterParams.kt
  domain/library/src/main/java/com/into/websoso/domain/library/model/AttractivePoints.kt
  domain/library/src/main/java/com/into/websoso/domain/library/model/ReadStatus.kt
  feature/library/src/main/java/com/into/websoso/feature/library/LibraryFilterViewModel.kt
  feature/library/src/main/java/com/into/websoso/feature/library/LibraryScreen.kt
  feature/library/src/main/java/com/into/websoso/feature/library/LibraryViewModel.kt
  feature/library/src/main/java/com/into/websoso/feature/library/component/LibraryFilterBottomSheet.kt
  feature/library/src/main/java/com/into/websoso/feature/library/component/LibraryFilterBottomSheetClickableItem.kt
  feature/library/src/main/java/com/into/websoso/feature/library/component/LibraryGridListItem.kt
  feature/library/src/main/java/com/into/websoso/feature/library/component/LibraryTopBar.kt
  feature/library/src/main/java/com/into/websoso/feature/library/component/LibrayFilterTopBar.kt
  feature/library/src/main/java/com/into/websoso/feature/library/mapper/AttractivePointsMapper.kt
  feature/library/src/main/java/com/into/websoso/feature/library/mapper/ListItemMapper.kt
  feature/library/src/main/java/com/into/websoso/feature/library/mapper/ReadStatusMapper.kt
  feature/library/src/main/java/com/into/websoso/feature/library/model/LibraryFilterType.kt
  feature/library/src/main/java/com/into/websoso/feature/library/model/LibraryFilterUiState.kt
  feature/library/src/main/java/com/into/websoso/feature/library/model/LibraryUiState.kt
  feature/library/src/main/java/com/into/websoso/feature/library/model/SortTypeUiModel.kt
  feature/library/src/main/java/com/into/websoso/feature/library/util/FilterLabelFormatter.kt
  gradle/libs.versions.toml
Labels: 🍯 [FEAT], ⚖️ 재상 세훈

#724 feat: 서재소소 1차 QA 사항 반영
  feature/library/src/main/java/com/into/websoso/feature/library/LibraryViewModel.kt
  feature/library/src/main/java/com/into/websoso/feature/library/component/LibraryListItem.kt
  feature/library/src/main/java/com/into/websoso/feature/library/model/LibraryUiState.kt
  feature/library/src/main/java/com/into/websoso/feature/library/model/ReadStatusUiModel.kt
Labels: 🍯 [FEAT], 👛 황후 연진

#728 feat: 서재UI/UX 개편 (9) - 서재 필터 조회 기능 구현
  app/src/main/java/com/into/websoso/ui/main/MainViewModel.kt
  app/src/main/java/com/into/websoso/ui/main/library/LibraryFragment.kt
  app/src/main/java/com/into/websoso/ui/userStorage/UserStorageActivity.kt
  core/common/src/main/java/com/into/websoso/core/common/extensions/MathExtensions.kt
  core/database/src/main/java/com/into/websoso/core/database/WebsosoDatabase.kt
  core/database/src/main/java/com/into/websoso/core/database/dao/FilteredNovelDao.kt
  core/database/src/main/java/com/into/websoso/core/database/entity/InDatabaseFilteredNovelEntity.kt
  core/datastore/src/main/java/com/into/websoso/core/datastore/datasource/library/DefaultMyLibraryFilterDataSource.kt
  core/datastore/src/main/java/com/into/websoso/core/datastore/datasource/library/mapper/LibraryFilterMapper.kt
  core/datastore/src/main/java/com/into/websoso/core/datastore/datasource/library/model/LibraryFilterPreferences.kt
  core/network/src/main/java/com/into/websoso/core/network/datasource/account/model/response/KakaoLoginResponseDto.kt
  core/network/src/main/java/com/into/websoso/core/network/datasource/library/DefaultLibraryDataSource.kt
  core/network/src/main/java/com/into/websoso/core/network/datasource/library/model/response/NovelResponseDto.kt
  core/network/src/main/java/com/into/websoso/core/network/datasource/library/model/response/UserNovelsResponseDto.kt
  data/account/src/main/java/com/into/websoso/data/account/AccountRepository.kt
  data/library/build.gradle.kts
  data/library/src/main/java/com/into/websoso/data/library/LibraryRepository.kt
  data/library/src/main/java/com/into/websoso/data/library/datasource/FilteredLibraryLocalDataSource.kt
  data/library/src/main/java/com/into/websoso/data/library/datasource/LibraryLocalDataSource.kt
  data/library/src/main/java/com/into/websoso/data/library/mediator/FilteredNovelRemoteMediator.kt
  data/library/src/main/java/com/into/websoso/data/library/mediator/NovelRemoteMediator.kt
  data/library/src/main/java/com/into/websoso/data/library/model/LibraryFilterParams.kt
  data/library/src/main/java/com/into/websoso/data/library/model/LibraryReadStatus.kt
  data/library/src/main/java/com/into/websoso/data/library/model/NovelEntity.kt
  domain/library/src/main/java/com/into/websoso/domain/library/GetLibraryUseCase.kt
  domain/library/src/main/java/com/into/websoso/domain/library/GetUserNovelUseCase.kt
  domain/library/src/main/java/com/into/websoso/domain/library/model/AttractivePoints.kt
  domain/library/src/main/java/com/into/websoso/domain/library/model/ReadStatus.kt
  feature/library/src/main/java/com/into/websoso/feature/library/LibraryScreen.kt
  feature/library/src/main/java/com/into/websoso/feature/library/LibraryViewModel.kt
  feature/library/src/main/java/com/into/websoso/feature/library/component/LibraryEmptyView.kt
  feature/library/src/main/java/com/into/websoso/feature/library/component/LibraryFilterBottomSheet.kt
  feature/library/src/main/java/com/into/websoso/feature/library/component/LibraryListItem.kt
  feature/library/src/main/java/com/into/websoso/feature/library/component/LibraryTopBar.kt
  feature/library/src/main/java/com/into/websoso/feature/library/component/LibrayFilterTopBar.kt
  feature/library/src/main/java/com/into/websoso/feature/library/filter/LibraryFilterBottomSheetScreen.kt
  feature/library/src/main/java/com/into/websoso/feature/library/filter/LibraryFilterViewModel.kt
  feature/library/src/main/java/com/into/websoso/feature/library/filter/component/LibraryFilterBottomSheetAttractivePoints.kt
  feature/library/src/main/java/com/into/websoso/feature/library/filter/component/LibraryFilterBottomSheetButtons.kt
  feature/library/src/main/java/com/into/websoso/feature/library/filter/component/LibraryFilterBottomSheetClickableItem.kt
  feature/library/src/main/java/com/into/websoso/feature/library/filter/component/LibraryFilterBottomSheetHeader.kt
  feature/library/src/main/java/com/into/websoso/feature/library/filter/component/LibraryFilterBottomSheetNovelRatingGrid.kt
  feature/library/src/main/java/com/into/websoso/feature/library/filter/component/LibraryFilterBottomSheetReadStatus.kt
  feature/library/src/main/java/com/into/websoso/feature/library/model/LibraryUiState.kt
  feature/library/src/main/java/com/into/websoso/feature/library/model/RatingLevelUiModel.kt
  feature/library/src/main/java/com/into/websoso/feature/library/model/SortTypeUiModel.kt
  feature/library/src/main/res/values/string.xml
Labels: 🍯 [FEAT], ⚖️ 재상 세훈

#729 feat: 서재UI/UX 개편 (12) - 3차 QA 반영
  core/common/src/main/java/com/into/websoso/core/common/extensions/DateFormatter.kt
  core/resource/src/main/res/drawable/ic_library_list.xml
  feature/library/src/main/java/com/into/websoso/feature/library/LibraryScreen.kt
  feature/library/src/main/java/com/into/websoso/feature/library/component/LibraryEmptyView.kt
  feature/library/src/main/java/com/into/websoso/feature/library/component/LibraryFilterEmptyView.kt
  feature/library/src/main/java/com/into/websoso/feature/library/component/LibraryGridListItem.kt
  feature/library/src/main/java/com/into/websoso/feature/library/component/LibraryTopBar.kt
  feature/library/src/main/java/com/into/websoso/feature/library/component/LibrayFilterTopBar.kt
  feature/library/src/main/java/com/into/websoso/feature/library/model/LibraryUiState.kt
Labels: 🍯 [FEAT], 👛 황후 연진

#732 feat: 서재UI/UX 개편 (5) - 타유저 서재 분기처리
  app/src/main/java/com/into/websoso/core/common/util/navigator/WebsosoNavigator.kt
  app/src/main/java/com/into/websoso/ui/otherUserPage/otherUserLibrary/OtherUserLibraryFragment.kt
  app/src/main/java/com/into/websoso/ui/userStorage/UserStorageActivity.kt
  core/auth-kakao/src/main/java/com/into/websoso/core/auth_kakao/di/KakaoAuthClientModule.kt
  core/common/src/main/java/com/into/websoso/core/common/navigator/NavigatorProvider.kt
  core/database/src/main/java/com/into/websoso/core/database/dao/FilteredNovelDao.kt
  core/datastore/src/main/java/com/into/websoso/core/datastore/datasource/library/DefaultLibraryFilterDataSource.kt
  core/datastore/src/main/java/com/into/websoso/core/datastore/datasource/library/mapper/LibraryFilterMapper.kt
  core/datastore/src/main/java/com/into/websoso/core/datastore/datasource/library/model/LibraryFilterPreferences.kt
  core/datastore/src/main/java/com/into/websoso/core/datastore/di/DataStoreModule.kt
  core/datastore/src/main/java/com/into/websoso/core/datastore/di/DataStoreQualifier.kt
  data/library/src/main/java/com/into/websoso/data/filter/FilterRepository.kt
  data/library/src/main/java/com/into/websoso/data/filter/datasource/LibraryFilterLocalDataSource.kt
  data/library/src/main/java/com/into/websoso/data/filter/di/FilterRepositoryModule.kt
  data/library/src/main/java/com/into/websoso/data/filter/model/LibraryFilter.kt
  data/library/src/main/java/com/into/websoso/data/filter/repository/MyLibraryFilterRepository.kt
  data/library/src/main/java/com/into/websoso/data/filter/repository/UserLibraryFilterRepository.kt
  data/library/src/main/java/com/into/websoso/data/library/LibraryRepository.kt
  data/library/src/main/java/com/into/websoso/data/library/datasource/FilteredLibraryLocalDataSource.kt
  data/library/src/main/java/com/into/websoso/data/library/datasource/MyLibraryFilterLocalDataSource.kt
  data/library/src/main/java/com/into/websoso/data/library/di/LibraryRepositoryModule.kt
  data/library/src/main/java/com/into/websoso/data/library/mediator/NovelRemoteMediator.kt
  data/library/src/main/java/com/into/websoso/data/library/model/LibraryFilterParams.kt
  data/library/src/main/java/com/into/websoso/data/library/model/LibraryReadStatus.kt
  data/library/src/main/java/com/into/websoso/data/library/paging/LibraryPagingSource.kt
  data/library/src/main/java/com/into/websoso/data/library/paging/LibraryRemoteMediator.kt
  data/library/src/main/java/com/into/websoso/data/library/repository/MyLibraryRepository.kt
  data/library/src/main/java/com/into/websoso/data/library/repository/UserLibraryRepository.kt
  domain/library/src/main/java/com/into/websoso/domain/library/GetLibraryUseCase.kt
  feature/library/src/main/java/com/into/websoso/feature/library/LibraryScreen.kt
  feature/library/src/main/java/com/into/websoso/feature/library/LibraryViewModel.kt
  feature/library/src/main/java/com/into/websoso/feature/library/filter/LibraryFilterBottomSheetScreen.kt
  feature/library/src/main/java/com/into/websoso/feature/library/filter/LibraryFilterViewModel.kt
Labels: 🍯 [FEAT], ⚖️ 재상 세훈
